*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgreen;
}
.movie-section{
    display: flex;
    justify-content: center;
}
.movie-slider{
    text-align: center;
    width: 500px;
    display: flex;
    overflow: scroll;
    margin-top: 50px;
}
.movie-item{
    margin-left:20px;
    margin-right: 20px;
}
.movie-item:first-child{
    margin-left: 0;
}
.movie-item:last-child{
    margin-right: 0;
}

.movie-border{
    border: 4px solid gold;
}
h1{
    text-align: center;
    margin-top: 100px;
    color: goldenrod;
}
h3{
    margin-top: 10px;
    color: goldenrod;  
}

img{
    padding: 10px;
    width: 250px;
    height: 400px;
}
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }